In [2]:
insurance=pd.read_csv("rC:\Users\SAI\Downloads\Health_Insurance_Cost_Prediction-main.zip\Health_Insurance_Cost_Prediction-main\Dataset\insurance.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 4-5: truncated \UXXXXXXXX escape (<ipython-input-2-2fd6185af20f>, line 1)

In [2]:
insurance=pd.read_csv("r C:\Users\SAI\Downloads\Health_Insurance_Cost_Prediction-main\Health_Insurance_Cost_Prediction-main\Dataset\insurance.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 4-5: truncated \UXXXXXXXX escape (<ipython-input-2-a8af4492642d>, line 1)

In [3]:
insurance=pd.read_csv("rC:\Users\SAI\Downloads\Health_Insurance_Cost_Prediction-main\Health_Insurance_Cost_Prediction-main\Dataset\insurance.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 3-4: truncated \UXXXXXXXX escape (<ipython-input-3-dbb9f66f49ed>, line 1)

In [4]:
import pandas as pd

In [9]:
insurance=pd.read_csv("rC:\Users\SAI\Downloads\Health_Insurance_Cost_Prediction-main\Health_Insurance_Cost_Prediction-main\Dataset\insurance.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 3-4: truncated \UXXXXXXXX escape (<ipython-input-9-dbb9f66f49ed>, line 1)

In [11]:
insurance=pd.read_csv(r"C:\Users\SAI\Downloads\Health_Insurance_Cost_Prediction-main\Health_Insurance_Cost_Prediction-main\Dataset\insurance.csv")

In [12]:
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [13]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [14]:
insurance.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603